<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Misha,GrishaAndUnderground.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>NextRound.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PetyaAndExam.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>SashaAndSticks.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>StrangeRadiation.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>codeforces.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>default.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5EF170591F29135000B45009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF170671F2913A400B45009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF170721F2913DB00B45009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF1707D1F29207900B45009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF170881F29227000B45009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF170931F294FF400B45009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5EF1709E1F2A3B7800B45009</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
